*.elc
*.~undo-tree
*~
.cask
RCS
befehle.org
run-travis-ci.sh
test/f-string-sammlung.py
test/f-string6.py
test/f-string7.py
test/fstrings.py
test/general-close--*.*
test/general-close-c-test-Ue1Rwp.c
test/general-close-close-js-function-test-2.js
test/general-close-close-js-test-1.js
test/general-close-close-php-indented-line-test.php
test/general-close-close-php-paren-semicolon-test-3.php
test/general-close-close-php-public-function-test.php
test/general-close-close-ruby-string-test.rb
test/general-close-close-scala-test-2EBKNw.scala
test/general-close-close-scala-test-5xD6NO.scala
test/general-close-close-scala-test-CFGK23.scala
test/general-close-close-scala-test-OcCPv9.scala
test/general-close-close-scala-test-moJaUT.scala
test/general-close-close-scala-test-sbaqDQ.scala
test/general-close-haskell-string-test-gJVmTt.hs
test/general-close-haskell-test-T1mOKj.hs
test/general-close-haskell-test-YUumkX.hs
test/general-close-java-import-test-wo4a9t.java
test/general-close-java-string-test-8fM8uW.java
test/general-close-java-test-UApYpP.java
test/general-close-java-test-oc9rmB.java
test/general-close-java-test-rP3vyd.java
test/general-close-java-test-smbeId.java
test/general-close-js-assignment-test.js
test/general-close-js-element-test.js
test/general-close-padded-brace-test.js
test/general-close-padded-brace-test.py
test/general-close-python-brace-test-Zu6qkI.py
test/general-close-python-f-string-oSy3hU.py
test/general-close-python-f-string-test-2EO5o1.py
test/general-close-python-f-string-test-5HXb1B.py
test/general-close-python-f-string-test-CTDV8M.py
test/general-close-python-f-string-test-JaSpMC.py
test/general-close-python-f-string-test-UAau25.py
test/general-close-python-f-string-test-Zu6qkI.py
test/general-close-python-f-string-test-ebhiJC.py
test/general-close-python-f-string-test-giE7MU.py
test/general-close-python-f-string-test-nT3Fk4.py
test/general-close-python-test-ItdHM2.py
test/general-close-python-test-OUdEGA.py
test/general-close-python-tqs-dq-test-10mjq3.py
test/general-close-python-tqs-sq-test-eS7oPB.py
test/general-close-python-tqs-sq-test-tmeKth.py
test/general-close-ruby-block-close-XhSYAJ.rb
test/general-close-ruby-test-gszMLh.rb
test/general-close-scala-test-dOobA3.scala
test/general-close-scala-test-l33NWm.scala
test/general-close-scala-test-nJghbp.scala
test/general-close-xml-1-test.xml
test/operator-mode-ruby-test-gszMLh.rb
test/test.py
test/while.el
*-?.log
*-?.txt
test/#*
test/.#*
log[0-9]*.txt